@import "reset.css" screen, projection;

body {
  font: 12px sans-serif;
}

p {
  margin-bottom: 10px;
}

a {
  color: #222;
}

a:hover {
  color: #ffa500;
  text-decoration: none;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.container {
  padding: 10px;
}

.header {
  margin-bottom: 20px;
  position: relative;
}

.hmenu {
  position: absolute;
  right: 10px; top: 0;
}

.hmenu li {
  display: inline;
  margin-left: 10px;
}

.body {
  padding: 10px 0;
}

.body ul {
  margin-left: 20px;
}

.body ul li {
  list-style-type: square;
  margin-bottom: 5px;
}

.flash {
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
}

.flash.error, .flash.failure, .flash.alert {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}

.flash.notice, .flash.success {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}

li.required label {
  font-weight: bold;
}

.contact-info {
  margin-top: 20px;
}

p.actions a {
  margin-right: 5px
}

.footer {
  text-align: center;
}
