<% @title = @group.name %>

<p class="actions">
  <%= link_to 'New contact', new_group_contact_path(@group) %>
  <%= link_to 'Edit group', edit_group_path(@group) %>
</p>

<ul class="contacts">
<% @contacts.each do |contact| %>
  <li><%= link_to contact.name, group_contact_path(@group, contact) %></li>
<% end %>
</ul>
